/*公共样式文件*/
a{
	text-decoration: none;
	color: #000;
}

body{ 
	font:12px Arial, Helvetica, sans-serif;
	color: #000;
}

.table{
	width: 100%;
	border: 1px solid #c0c0c0;
	border-collapse: collapse;
    border-radius: 7px;
    margin-bottom: 50px;
}
tr td{
	border: 1px solid #c0c0c0;
    font-size:12px;
    height: 30px; 
}
td{
	padding: 0px 10px; 
}
input{
	/*height: 25px;*/
	/*width:200px;*/
}

.firstrow{
	background: #E3E9EE;
	font:  bold 12px 'sans-serif';
}
.firstrow td{

	text-align: center;
}

.right-nav{
	background:#eef1f4;
	height:20px;
	line-height:20px; 
	font-weight:600; 
	font-size:15px;
	padding: 10px;
	/*border-radius: 10px;*/
	border: 1px solid #d3d3d3;
}
.right-nav .home{
	float: left;
	display: block;
	width: 16px;
	height: 16px;
	background: url(../../Static/images/site.jpg) no-repeat -239px -55px ;
	margin: 2px 8px  0 0;
}
.right-nav .con{
	float: left;
}

.right-title{
	height:80px; 
	line-height:80px; 
	font-weight:bold; 
	font-size:35px; 
	color:#8b8e8e; 
	border:1px solid #d3d3d3; 
	margin: 20px 0;
}

.right-title a{
	margin-left:20px; 
	font-weight:400; 
	font-size:18px; 
	color:#1186fb;
}

.right-content{
	border:1px solid #d3d3d3;
	background: #f4f5f5;
	padding: 10px;
}
/*分页*/
.fenye{
	width:100%;
	float:left;
	margin:0px 0;
	text-align:center;}
.fenye a{
	padding:2px 10px;
	line-height:26px;
	margin:0 4px;
	font-family:Arial;
	border:#414141 1px solid;
	background:#f6f6f6;}
.fenye a:hover{
	color:#ff0000;
	font-weight:bold;
	text-decoration:none;}
/*分页END*/
.input50{ width: 50px;}
.input100{ width: 100px;}
.input200{ width: 200px;}
.input300{ width: 300px;}
.input400{ width: 400px;}
.input500{ width: 500px;}
.input600{ width: 600px;}
.input700{ width: 700px;}

/*美育启蒙*/
.enlighten{
	width:209px; 
	height:230px; 
	border:1px solid #8c8b8b;
	float: left;
	margin:3px;
	text-align: left;
}
.enlighten img{
	width: 199px;
	height: 128px;
	border:5px solid #EEEEEE;
}
.enlighten .con{
	margin-bottom: 3px;
}
.enlighten .action{
	text-align: center;
}
.enlighten span{
	font-size: 15px; 
}
.enlighten .modify a{
	color:green;
}
.enlighten .delete a{
	color:red;
}

.bing-bgcolor2{background: #ebeded;}
.td-left{width:200px; text-align: right;}
.td-right{text-align: left; padding-left:20px;}
.width45{ width:45%;}