<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>用户管理</title>
      <link rel="stylesheet" href="__PUBLIC__/Admin/css/common.css">
      <style>tr,td{text-align: center;}</style>
</head>

<body> 
<div class="right-nav">
      <a class="home" href="" title=""></a><div class="con"><span style="color:#33ccff;">首页</span> > 用户管理</div>
</div>

<div class="right-title">
      {$pos}列表<a href="{:U(MODULE_NAME.'/User/user',array('usertype'=>$usertype))}" title="">[添加{$pos}]</a>
</div>

<table class="table">
<tr class="firstrow">
<td>ID</td>
<td>用户名称</td>
<td>上一次登录时间</td>
<td>上一次登录IP</td>
<td>锁定状态</td>
<td>用户所属别组</td>
<td>操作</td>
</tr>
<foreach name='user' item='v'>
   <tr>
      <td>{$v.id}</td>
      <td>{$v.username}</td>
      <td>{$v.logintime|date='y-m-d H:i',###}</td>
      <td>{$v.loginip}</td>
      <td>
         <if condition="$v['lockstatus'] eq 1"><a style="color:red;" href="{:U(MODULE_NAME.'/User/setLock',array('lock'=>0,'id'=>$v['id']))}">已锁定</a> <else/>
         <a style="color:green;" href="{:U(MODULE_NAME.'/User/setLock',array('lock'=>1,'id'=>$v['id']))}">未锁定</a>
         </if>
      </td>
      <td><a href=""></a></td>
      <td><a href=""></a></td>
      </foreach>
   </tr>
</table>
</body>
</html>
