<extend name="Base/common" />
    <block name="head">
<link href="__PUBLIC__/Home/css/lanrenzhijia.css" type="text/css" rel="stylesheet" />
<script type="text/javascript">
    function nTabs(thisObj,Num){
    if(thisObj.className == "active")return;
    var tabObj = thisObj.parentNode.id;
    var tabList = document.getElementById(tabObj).getElementsByTagName("li");
    for(i=0; i <tabList.length; i++)
    {
    if (i == Num)
    {
    thisObj.className = "active";
    document.getElementById(tabObj+"_Content"+i).style.display = "block";
    }else{
    tabList[i].className = "normal";
    document.getElementById(tabObj+"_Content"+i).style.display = "none";
    }
    }
    }
    </script>
    
<link href="__PUBLIC__/Home/css/lanrenzhijia.css" type="text/css" rel="stylesheet" />
<script type="text/javascript">
    function nTabs(thisObj,Num){
    if(thisObj.className == "active")return;
    var tabObj = thisObj.parentNode.id;
    var tabList = document.getElementById(tabObj).getElementsByTagName("li");
    for(i=0; i <tabList.length; i++)
    {
    if (i == Num)
    {
    thisObj.className = "active";
    document.getElementById(tabObj+"_Content"+i).style.display = "block";
    }else{
    tabList[i].className = "normal";
    document.getElementById(tabObj+"_Content"+i).style.display = "none";
    }
    }
    }
    </script>

<link href="__PUBLIC__/Home/css/lanrenzhijia2.css" type="text/css" rel="stylesheet" />
<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script>
$(function (){
$('.todetail').click(function(){
    $(this).parent('p').replaceWith("<p class='toreplace'>111{$v.content}<a class='todetail'>[收起]</a></p>");
})
});
</script>
<style>.bedetail{}</style>
</block>
<block name="banner">
{:W('Home/homepageBg')}
</block>
<block name="body">
<div id="middle">
<div id="width_988">

{:W('Home/artistheader')}

<div id="p_gao"></div>
<div id="p_box3">
   
<div id="p_b3_bottom">
<ul>
<foreach name="dynamic" item="v">
<li>
<h2><span class="fl_l zj_bt">{$v.title}</span><span class="fl_r zj_time"> <strong>{$v.celebrityname}</strong> {$v.pubtime|date="Y-m-d",###}</span></h2>
<p class="toreplace">{$v.content|msubstr=0,100}<a class="todetail">[详细]</a></p>
<span></span>
</li>
</foreach>
</ul>


</div>
<div class="fl_r page_list" style=" clear:both">{$page}</div>
</div>





</div></div>


<div id="gao5"></div>
</block>