<extend name="Base/common" />
    <block name="head">
<link href="__PUBLIC__/Home/css/lanrenzhijia.css" type="text/css" rel="stylesheet" />
<script type="text/javascript">
    function nTabs(thisObj,Num){
    if(thisObj.className == "active")return;
    var tabObj = thisObj.parentNode.id;
    var tabList = document.getElementById(tabObj).getElementsByTagName("li");
    for(i=0; i <tabList.length; i++)
    {
    if (i == Num)
    {
    thisObj.className = "active";
    document.getElementById(tabObj+"_Content"+i).style.display = "block";
    }else{
    tabList[i].className = "normal";
    document.getElementById(tabObj+"_Content"+i).style.display = "none";
    }
    }
    }
    </script>
    
<link href="__PUBLIC__/Home/css/lanrenzhijia.css" type="text/css" rel="stylesheet" />
<script type="text/javascript">
    function nTabs(thisObj,Num){
    if(thisObj.className == "active")return;
    var tabObj = thisObj.parentNode.id;
    var tabList = document.getElementById(tabObj).getElementsByTagName("li");
    for(i=0; i <tabList.length; i++)
    {
    if (i == Num)
    {
    thisObj.className = "active";
    document.getElementById(tabObj+"_Content"+i).style.display = "block";
    }else{
    tabList[i].className = "normal";
    document.getElementById(tabObj+"_Content"+i).style.display = "none";
    }
    }
    }
    </script>

<link href="__PUBLIC__/Home/css/lanrenzhijia2.css" type="text/css" rel="stylesheet" />
<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script>
$(function (){
  $(".left_nav dd").hover(function(){
  $(".nav_right",this).show();
  });
  $(".left_nav dd").mouseleave(function(){
  $(".nav_right",this).hide();
  });
});
</script>
</block>
<block name="banner">
<div id="banner3">
<div id="width_988">
<div id="b3_bg">
<img src="__PUBLIC__/Home/images/pee1_03.jpg" width="988" height="393" />
</div>
</div>
</block>
<block name="body">
<div id="middle">
<div id="width_988">

{:W('Home/artistheader')}

<div id="p_gao"></div>
<div id="p_box3">
   
<div id="p_b3_bottom">
<ul>
<foreach name="dynamic" item="v">
<li>
<h2><span class="fl_l zj_bt"><a href="#">{$v.title}</a></span><span class="fl_r zj_time"> <strong>{$v.celebrityname}</strong> {$v.pubtime|date="Y-m-d",###}</span></h2>
<p><a href="#">尊敬的各位领导！亲爱的同志们！朋友们！您们好!今天，我从厦门不远千里专程赶来与大家一起出席林跃油画展的开幕式，感到十分高兴。首先，请允许我致以衷心的祝贺！四川是我的故乡，青年时期我在成都读书...[详细]</a></p>
</li>
</foreach>
</ul>


</div>
<div class="fl_r page_list" style=" clear:both">{$page}</div>

  </div>





</div></div>


<div id="gao5"></div>
</block>