<extend name="Base/common" />
    <block name="head">
<link href="__PUBLIC__/Home/css/lanrenzhijia.css" type="text/css" rel="stylesheet" />
<script type="text/javascript">
    function nTabs(thisObj,Num){
    if(thisObj.className == "active")return;
    var tabObj = thisObj.parentNode.id;
    var tabList = document.getElementById(tabObj).getElementsByTagName("li");
    for(i=0; i <tabList.length; i++)
    {
    if (i == Num)
    {
    thisObj.className = "active";
    document.getElementById(tabObj+"_Content"+i).style.display = "block";
    }else{
    tabList[i].className = "normal";
    document.getElementById(tabObj+"_Content"+i).style.display = "none";
    }
    }
    }
    </script>
    
<link href="__PUBLIC__/Home/css/lanrenzhijia.css" type="text/css" rel="stylesheet" />
<script type="text/javascript">
    function nTabs(thisObj,Num){
    if(thisObj.className == "active")return;
    var tabObj = thisObj.parentNode.id;
    var tabList = document.getElementById(tabObj).getElementsByTagName("li");
    for(i=0; i <tabList.length; i++)
    {
    if (i == Num)
    {
    thisObj.className = "active";
    document.getElementById(tabObj+"_Content"+i).style.display = "block";
    }else{
    tabList[i].className = "normal";
    document.getElementById(tabObj+"_Content"+i).style.display = "none";
    }
    }
    }
    </script>

<link href="__PUBLIC__/Home/css/lanrenzhijia2.css" type="text/css" rel="stylesheet" />
<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script>
$(function (){
  $(".left_nav dd").hover(function(){
  $(".nav_right",this).show();
  });
  $(".left_nav dd").mouseleave(function(){
  $(".nav_right",this).hide();
  });
});
</script>
</block>
<block name="banner">
<div id="banner3">
<div id="width_988">
<div id="b3_bg">
<img src="__PUBLIC__/Home/images/pee1_03.jpg" width="988" height="393" />
</div>
</div>
</block>
<block name="body">
<div id="middle">
<div id="width_988">

{:W('Home/artistheader')}

<div id="p_gao"></div>
<div id="p_box2">
    

<div id="jj_bottom">
<div class="fl_l jj_text">
<h1>{$artist.chinesename}</h1>
<p> &nbsp;&nbsp;&nbsp;&nbsp;{$artist.summary|msubstr=0,110}</p>
<div class="jj_zp">
<p><span class="fl_l jj_t1"><strong>中文名：</strong><span>{$artist.chinesename}</span></span><span class="fl_r jj_t2"><strong>职业：</strong><span>{$artist.career}</span></span></p>
<p><span class="fl_l jj_t1"><strong>国籍：</strong><span>{$artist.country}</span></span><span class="fl_r jj_t2"><strong>毕业院校：</strong><span>{$artist.graduate}</span></span></p>
<p><span class="fl_l jj_t1"><strong>出生日期：</strong><span>{$artist.birthday}</span></span><span class="fl_r jj_t2"><strong>主要成就：</strong><span>{$artist.achievement}</span></span></p>
<p><span class="fl_r jj_t3"><strong>代表作品：</strong><span>{$artist.represent|msubstr=0,12,0}</span></span></p>
</div>
</div>
<div class="fl_r jj_pic"><img src="__ROOT__/{$artist.portrait}" width="168" height="218" /><p>作品<span>（20张）</span></p></div>


</div>
  </div>
  
 


</div>
<div id="width_988">
<div class="jj_text_b">
 <fieldset class="border">
   <legend> <h1><span><img src="__PUBLIC__/Home/images/red.jpg" width="30" height="24" /></span>个人简介</h1> </legend>
{$artist.introduction}
  </fieldset>
 </div> 
</div>

</div>
 </div> 

</div>


<div id="gao"></div>
<div id="gao5"></div>
</block>