<extend name="Base/common" />
    <block name="head">
<link href="__PUBLIC__/Home/css/lanrenzhijia.css" type="text/css" rel="stylesheet" />
<script type="text/javascript">
    function nTabs(thisObj,Num){
    if(thisObj.className == "active")return;
    var tabObj = thisObj.parentNode.id;
    var tabList = document.getElementById(tabObj).getElementsByTagName("li");
    for(i=0; i <tabList.length; i++)
    {
    if (i == Num)
    {
    thisObj.className = "active";
    document.getElementById(tabObj+"_Content"+i).style.display = "block";
    }else{
    tabList[i].className = "normal";
    document.getElementById(tabObj+"_Content"+i).style.display = "none";
    }
    }
    }
    $(function(){
      $('#psubmit').click(function(){
        var paytype = $('input:radio[name="bank"]:checked').val();
        if(paytype == null){
          alert('请先选择支付方式');
          return false;
        }
        $('form[name=pay]').submit();
    });
    });
    </script>
    
</block>
<block name="banner">
</block>
<block name="body">
<div id="middle">
<div id="width_988">

<div id="p_p_box1"><img src="__PUBLIC__/Home/images/p_p1_07.jpg" width="986" height="148" /></div>
  
  <div id="gao_p"></div>

<div id="x_box2">

<div class="x_b2_title">
<p>位置：<a href="index.html">首页</a> ><a href="shop.html">艺术商城</a> > 商品订单</p>

</div>




</div>



<div id="dz_box2">

<div class="block"> 
    <div class="progress clearfix">
    <ul class="progress-1">
      <li class="step-3"><b></b>1 我的购物车 </li>
      <li class="step-1"><b></b>2 填写核对订单信息 </li>
      <li class="step-2">3 成功提交订单 </li>
    </ul>
  </div>
   
  

 
</div>


</div>






  <div id="gao_p"></div>
    
  <div id="dz1_box3">

    <div class="dz1_b3_title">
    <h2>收货信息</h2>
        
</div>
       
     <div class="dz1_b3_bottom">
     <div class="dz1_b3_text">
     <p class="child"><input name="" type="radio" value="" />辽宁省 沈阳市 和平区南京南街和鸿国际花园A座2006（孙小洁收）15542253200 <span><a href="#">修改</a></span> <span><a href="#">删除</a></span>
     </p>
     <p><a href="#">+新增收货地址</a></p>
<p>所在地区： <span>*</span> 
<select name="中国大陆" size="1" style=" width:100px;height:30px"><option>中国大陆</option>
  <option>美国</option>
  <option>英国</option>
  
</select><select name="中国大陆" size="1" style="width:300px;height:30px"><option>请选择城市</option>
<option>武汉</option>
<option>黄冈</option>
</select></p>
<p>收货人姓名：  <span>*</span> <input name="" type="text" value=" 长度不超过25个字符" onfocus="if (value ==' 长度不超过25个字符'){value =''}" onblur="if (value ==''){value=' 长度不超过25个字符'}"/></p>
<p>手机号码： &nbsp;&nbsp;&nbsp;&nbsp;<input name="" type="text" value=" 电话号码、手机号码必须填一项" onfocus="if (value ==' 电话号码、手机号码必须填一项'){value =''}" onblur="if (value ==''){value=' 电话号码、手机号码必须填一项'}"/></p>
     
     <span class="fl_l anliu1"><a href="#"><img src="__PUBLIC__/Home/images/anl.jpg" width="70" height="28" /></a></span>
      </div>   
      
        </div>   
      
      
      
      
      
      
 
 </div> 
    
<div id="gao_p"></div>
 
 <div id="dz1_box4">

    <div class="dz1_b4_title">
    <h2>收货信息</h2>
        
</div>
       
     <div class="dz1_b4_bottom">
     <div class="dz1_b4_text">
    <p>在线支付</p>
      </div>   
      
        </div>   
      
      
      
      
      
      
 
 </div>   
    
     
     <div id="gao_p"></div>  
    <div id="dz1_box5">

    <div class="dz1_b5_title">
    <h2>发票</h2>
        
</div>
       
     <div class="dz1_b5_bottom">
     <div class="dz1_b5_text">
    <p><input class="J_CheckBoxItem" id="J_CheckBox_83766958476" type="checkbox" name="items[]" value="83766958476"> 需要发票</p>
      </div>   
      
        </div>   
      
      
      
      
      
      
 
 </div>     
    
    
<div id="gao_p"></div> 
    <div id="dz_box3">

    <div class="jy_b3_title">
    <div class="fl_l jy_b3_l"><h3 style=" margin-bottom:10px">确认订单信息</h3></div>
      
     </div>
       
     <div class="dz_b3_bottom">
     <div class="dz1_b3_text">
     
  
        
     <div class="dz1_b3_t4">
     
     <div class="t4_text">
     <div class="fl_l t4_l">确认订单信息</div>
     <div class="fl_r t4_r">
     <ul>
     <li>快递</li>
     <li>数量</li>
     <li class="last">价格</li>
     
     
     </ul>
     </div>
     </div>
     <div class="pro1">
     <p><span class="fl_l dp">店铺 ：<span>{$order.artistname}个人店铺</span></span>
    
     </p>
     
     <div class="wupin">
     <div class="wupin1">
     <div class="td-inner"><div class="cart-checkbox "><!-- <input class="J_CheckBoxItem" id="J_CheckBox_83766958476" type="checkbox" name="items[]" value="83766958476"> --></div></div>
     
     <div class="fl_l t4_p"><a href="{:U('/'.MODULE_NAME.'/gs2_'.$order['productid'])}"><img src="__ROOT__/{$order.thumb}" width="96" height="96" /></a></div>
     <div class="fl_l t4_t">
     <h3>{$ordtitle}</h3>
     <div class="t4_t_t1">
     <ul>
     <li>艺术家：陈文苑</li>                            
     <li>材质：纸本水墨</li> 
     <li class="yf"><span>￥{$order.expressfee}</span> </li>                
              
   
<li>尺寸：{$order.size} </li>                   
<li>上架时间：2014-06-06</li>
 
     </ul>
     </div>
     
     
     </div>
     <div class="td-inner1"><div class="sz">{$order.ordbuynum}</div></div>
     <div class="td-inner2">
     <p>￥{$order.price}</p>
     
     
     </p>
     </div>
      
     </div>
     </div>
     
     </div>
       
   <div class="dz_bott">
   <p>实付款：<span>￥</span><strong>{$order.ordfee}</strong></p>
   <p><span><a href="shdz2.html"><img src="__PUBLIC__/Home/images/jj1.jpg" /></a></span><a href="pay.html"><img src="__PUBLIC__/Home/images/jj2.jpg" /></a><span></span></p>
   </div>
     </div>
     </div>
    </div>   
 </div>     
           
  </div>  
</div>




<div id="gao3"></div>
</block>