<extend name="Base/common" />
    <block name="head">
<link href="__PUBLIC__/Home/css/lanrenzhijia.css" type="text/css" rel="stylesheet" />
<script type="text/javascript">
    function nTabs(thisObj,Num){
    if(thisObj.className == "active")return;
    var tabObj = thisObj.parentNode.id;
    var tabList = document.getElementById(tabObj).getElementsByTagName("li");
    for(i=0; i <tabList.length; i++)
    {
    if (i == Num)
    {
    thisObj.className = "active";
    document.getElementById(tabObj+"_Content"+i).style.display = "block";
    }else{
    tabList[i].className = "normal";
    document.getElementById(tabObj+"_Content"+i).style.display = "none";
    }
    }
    }
    $(function(){
      $('#checkall').click(function(){
        if($(this).is(":checked")){
            $('.pro1 .bb').prop('checked',true);
            var totalmoney = 0;
            $('.pro1 .bb').each(function(){
                if($(this).is(":checked")){
                   totalmoney += $(this).attr('data')*1;
                }
            });
            $('#totalmoney').text(totalmoney);
        }else{
            $('.pro1 .bb').prop('checked',false);
        }
      });

      $('.bb').click(function(){
        var totalmoney = 0;
            $('.pro1 .bb').each(function(){
                if($(this).is(":checked")){
                   totalmoney += $(this).attr('data')*1;
                }
            });
            $('#totalmoney').text(totalmoney);
      });

      $('#deletecheck').click(function(){
        var URL = "{:U(MODULE_NAME.'/Pay/deleteChecked')}";
         $('form[name=cform]').attr('action',URL);
         $('form[name=cform]').submit();
      });

      $('#csubmit').click(function(){
        var c = $('input[class=bb]:checked').val();

        if(c == undefined){
            alert('你还没有选中商品');
            return false;
        }
        var totalmoney = 0;
        $('.pro1 .bb').each(function(){
            if($(this).is(":checked")){
               totalmoney += $(this).attr('data')*1;
               $(this).siblings('.dd').prop('checked',true);
            }else{
               $(this).siblings('.dd').prop('checked',false);
            }
        });
        $('#totalmoney').text(totalmoney);
        var URL = "{:U(MODULE_NAME.'/Pay/cartToOrder')}";
         $('form[name=cform]').attr('action',URL);
         $('form[name=cform]').submit();
      });

    });
    </script>
    
</block>
<block name="banner">
</block>
<block name="body">
<div id="middle">
<div id="width_988">

<div id="p_p_box1"><img src="__PUBLIC__/Home/images/p_p1_07.jpg" width="986" height="148" /></div>
  
  <div id="gao_p"></div>

<div id="x_box2">

<div class="x_b2_title">
<p>位置：<a href="index.html">首页</a> ><a href="shop.html">艺术商城</a> > 商品订单</p>

</div>
</div>
<div id="dz_box2">

<div class="block"> 
    <div class="progress clearfix">
    <ul class="progress-1">
      <li class="step-1"><b></b>1 我的购物车 </li>
      <li class="step-2"><b></b>2 填写核对订单信息 </li>
      <li class="step-3">3 成功提交订单 </li>
    </ul>
  </div>
</div>
</div>
  <div id="gao_p"></div>
    
  <div id="dz_box3">

    <div class="jy_b3_title">
    <div class="fl_l jy_b3_l"><h3>我的购物车</h3></div>
        <div class="fl_r jy_b3_r">
        <p>现在<span style=" color:#0060ff">登录</span>,您购物车中的商品将被永久删除</p>
        </div>
     </div>
       
     <div class="dz_b3_bottom">
     <div class="dz_b3_text">
     
  
        
     <div class="dz_b3_t4">
     
     <div class="t4_text">
     <div class="fl_l t4_l">确认订单信息</div>
     <div class="fl_r t4_r">
     <ul>
     <li>快递</li>
     <li>数量</li>
     <li>价格</li>
      <li class="last">操作</li>
     
     </ul>
     </div>
     </div>
     <form name="cform" action="" method="post">
     <!-- ****************orderlist***foreach*start**************** -->
     <foreach name="orderlist" item="v">
     <div class="pro1">
     <p><span class="fl_l dp">店铺 ：<span>{$v.artistname}个人店铺</span></span>
     </p>
     <div class="wupin">
     <div class="wupin1">
     <div class="td-inner"><div class="cart-checkbox ">
     <input class="bb" data="{$v.ordfee}" type="checkbox" name="items[]" value="{$v.id}">
     <input class="dd" style="display:none;" type="checkbox" name="productids[]" value="{$v.productid}">
     </div></div>
     <div class="fl_l t4_p"><a href="{:U('/'.MODULE_NAME.'/gs2_'.$v['productid'])}"><img src="__ROOT__/{$v.thumb}" width="96" height="96" /></a></div>
     <div class="fl_l t4_t">
     <h3>{$v.ordtitle}</h3>
     <div class="t4_t_t1">
     <ul>
     <li>艺术家：{$v.artistname}</li>                            
     <li>材质：{$v.material}</li>
     <li class="yf"><span>￥{$v.expressfee}</span> </li>
     <li>尺寸：{$v.size} </li>                   
     <li>上架时间：{$v.pubtime|date="Y-m-d",###}</li>
     </ul>
     </div>
     </div>
     <div class="td-inner1"><div class="sz">1</div></div>
     <div class="td-inner2">
     <p>￥{$v.ordprice}</p>
     </p>
     </div>
     <div class="td-inner3">
     <p><a href="{:U(MODULE_NAME.'/Pay/deleteCart',array('id'=>$v['id']))}">删除</a></p>
     </div>
     </div>
     </div>
     </div>
 </foreach>
     <!-- ****************orderlist***foreach*end**************** -->
     
   <div class="jy2_b">
   <span class="fl_l jy2_b1"><span><input class="J_CheckBoxItem" id="checkall" type="checkbox"></span>
   <span><a href="#"><img src="__PUBLIC__/Home/images/jiaoyi1_40.jpg" /></a> <span id="deletecheck" style="cursor:pointer;">删除选中的商品</span></span>
   <span><a href="#"><img src="__PUBLIC__/Home/images/jiaoyi1_37.jpg" /></a> <a href="{:U('/'.MODULE_NAME.'/s')}">继续购物</a></span>
   </span>
   </div>
   <div class="dz_bott">
   <p>合计：<span>￥</span><strong id="totalmoney">{$totalmoney}</strong></p><input type="hidden" name="ordfee" value="{$totalmoney}">
   <p><span><a href="{:U('/'.MODULE_NAME.'/s')}"><img src="__PUBLIC__/Home/images/gw1.jpg" /></a></span><img style="cursor:pointer;" id="csubmit" src="__PUBLIC__/Home/images/gw2.jpg" /><span></span></p>
   </div>
     </div>
     </form>
     </div>
     
     
      </div>   
      
      
      
      
      
      
      
      
 
 </div> 
    
    <div id="gao_p"></div>
    
    
       
         
         
           
  </div>  

</div>




<div id="gao3"></div>
</block>