                <li class="vip_xz"><a href="{:U('/'.MODULE_NAME.'/User1/homepage')}">首页</a></li>
                <li><a href="{:U('/'.MODULE_NAME.'/User1/grzx')}">个人中心</a></li>
                <li><a href="{:U('/'.MODULE_NAME.'/User1/accountSafety')}">账户安全</a></li>
                <li><a href="{:U('/'.MODULE_NAME.'/Pay/shopCart')}">我的购物车</a></li>
                <li><a href="{:U('/'.MODULE_NAME.'/User1/jyjl')}">交易记录</a></li>
                <li><a href="{:U('/'.MODULE_NAME.'/User1/leaveMessage')}">留言管理</a></li>
                <li><a href="{:U('/'.MODULE_NAME.'/User1/creditsManage')}">积分管理</a></li>
                <li><a href="{:U('/'.MODULE_NAME.'/User1/buyfor')}">购买兑换</a></li>
                <li><a href="{:U('/'.MODULE_NAME.'/User1/invoiceInfo')}">增票资质</a></li>
                <li><a href="{:U('/'.MODULE_NAME.'/User1/shippingAddress')}">收货地址</a></li>
                <li><a href="{:U('/'.MODULE_NAME.'/User1/exchangeGoods')}">退换货品</a></li>
                <li class="last"></li>