<div id="c_box1">
<div class="fl_l c_b1_l">&nbsp;</div>
<div class="fl_l c_b1_m"><h2>中国集艺网</h2><h3>汇聚名家真品</h3><p>Chinese set art network
Famous genuine convergence</p></div>
<div class="fl_r c_b1_r">
<div class="fl_l c_b1_r1"><h2>手机扫一扫即可关注</h2><h3>集艺网 <span>官方微信</span></h3><p>Mobile phone sweep can pay attention 
to the official Micro message</p></div>
<div class="fl_l c_b1_r2"><a href="#"><img src="__PUBLIC__/Home/images/cp1_05.jpg" width="102" height="102" /></a></div>
<div class="fl_l c_b1_r3">
<ul>
<li><a href="#"><img src="__PUBLIC__/Home/images/cp1_07.jpg" width="28" height="24" /> &nbsp;腾讯微博</a></li>
<li><a href="#"><img src="__PUBLIC__/Home/images/cp1_09.jpg" width="22" height="23" /> &nbsp;腾讯QQ</a></li>
<li class="three"><a href="#"><img src="__PUBLIC__/Home/images/cp1_13.jpg" width="28" height="23" /> &nbsp;新浪微博</a></li>
<li><a href="#"><img src="__PUBLIC__/Home/images/cp1_14.jpg" width="22" height="23" /> &nbsp;公司地址</a></li>
</ul>
<div class="c_b1_text"><h1><span>咨询热线： </span>400-123-4567</h1></div>

</div>
<div class="fl_r c_b1_r4"> </div>

</div>


</div>