<block name="header">
<div id="header">
<div id="header_top">
<div id="width_988">
<div class="fl_l top_t1">
<div class="fl_l top1"><h1>您好,<a style="color:#fff;" href="{:U('/'.MODULE_NAME.'/User1/homepage')}"><?php echo msubstr($_SESSION['normalusername'],0,11);?></a>！欢迎来到集艺网</h1></div>
    <if condition="empty($_SESSION['normalusername'])">
    <div class="fl_r top2">
    <ul>
    <li><a href="{:U('/'.MODULE_NAME.'/login')}">登录</a></li>
    <li><a href="{:U('/'.MODULE_NAME.'/reg')}">注册</a></li>
    </ul>
    </div>
    <else/>
    <div class="fl_r top2">
    <ul>
    <li><a href="{:U('/'.MODULE_NAME.'/logout')}">[退出]</a></li>
    </ul>
    </div>
    </if>
</div>

<div class="fl_r top_t2">
<div class="fl_l top_1">
<form action="" method="get">
<input name="" type="text" style="height: 23px;" />
</form>

</div>
<div class="fl_r top_2"><input name="" type="button" /></div> 
</div>
</div>
</div>
<div id="header_nav">
<div id="width_988">
<div class="fl_l logo"><img src="__PUBLIC__/Home/images/pic1_07.jpg" width="223" height="74" /></div>

<div class="fl_r nav nav1">
<ul>
<li><a href="__ROOT__">首页</a></li>
<li><a href="{:U('/'.MODULE_NAME.'/a')}">艺术家</a></li>
<li><a href="{:U('/'.MODULE_NAME.'/news')}">集艺新闻</a></li>
<li><a href="{:U('/'.MODULE_NAME.'/s')}">艺术商城</a></li>
<li><a href="{:U('/'.MODULE_NAME.'/c')}">个性化定制</a></li>
<li><a href="{:U('/'.MODULE_NAME.'/r')}">明日之星</a></li>
<li><a href="{:U('/'.MODULE_NAME.'/p')}">出版中心</a></li>
<li><a href="{:U('/'.MODULE_NAME.'/e')}">美育启蒙</a></li>
<li class="last"><a href="{:U('/'.MODULE_NAME.'/u')}">关于我们</a></li>
</ul> 
 
<block name="menu"></block>
</div> 
</div>
</div>
<!-- Banner -->
<block name="banner">
<div id="banner"><img src="__PUBLIC__/Home/images/cp1_02.jpg" width="100%" height="393" /></div>
</block>
<!-- Banner END-->
</div>
</block>