<div id="footer">
<div id="width_988">
<div id="f_box">
<div class="fl_l f_text1"><img src="__PUBLIC__/Home/images/pic1_121.jpg" /></div>
<div class="fl_r f_text2">
<div class="f_top">
<ul>
<li><a href="#"><img src="__PUBLIC__/Home/images/pic1_109.jpg" /></a></li>
<li><a href="#"><img src="__PUBLIC__/Home/images/pic1_111.jpg" /></a></li>
<li><a href="#"><img src="__PUBLIC__/Home/images/pic1_113.jpg" /></a></li>
<li class="last"><a href="#"><img src="__PUBLIC__/Home/images/pic1_115.jpg" /></a></li>

</ul>
</div>
<div class="f_bottom">
<p>Copyright Reserved © 2000-2014 jiyi.com 中国集艺网 版权所有</p>
<p>电信与信息服务业务经营许可证（闽） B2-20030053广播电视制作经营许可证（闽）字第717号</p>
<p>闽公安网备110113000792号信息网络视听节目许可证1909402号闽ICP备11054908号-15</p>
<p>网络文化经营许可证文网文 [2014] 086号互联网出版许可证 [2014] 445号可信网站验证服务证书2012040503023850号</p>

</div>
</div>


</div>


</div>


</div>