<extend name="Base/common" />
<block name="head">
<link href="__PUBLIC__/Home/css/lanrenzhijia.css" type="text/css" rel="stylesheet" />
<script type="text/javascript">
    function nTabs(thisObj,Num){
    if(thisObj.className == "active")return;
    var tabObj = thisObj.parentNode.id;
    var tabList = document.getElementById(tabObj).getElementsByTagName("li");
    for(i=0; i <tabList.length; i++)
    {
    if (i == Num)
    {
    thisObj.className = "active";
    document.getElementById(tabObj+"_Content"+i).style.display = "block";
    }else{
    tabList[i].className = "normal";
    document.getElementById(tabObj+"_Content"+i).style.display = "none";
    }
    }
    }
    </script>

<link href="__PUBLIC__/Home/css/lanrenzhijia2.css" type="text/css" rel="stylesheet" />
<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script>
$(function (){ 
  $('ul.m_h1').addClass('current');
  $('ul.m_h1 h3').addClass('h3');
  $('ul.bn').hover(function(){
    $(this).find('h3').addClass('h3');
    $(this).siblings().find('h3').removeClass('h3');
    $(this).addClass("current");
    $(this).siblings().removeClass("current");
  });
});
</script>
<style>
  #menu .current{
    height: 108px;
    background: #e8413b;
    color: #fff;
    padding-top: 10px;
  }
  #menu .bn .h3{
    color: #fff;
  }
</style>
</block>
<block name="menu">
</div>
<div id="menu"> 
<foreach name="category" item="v">
  <ul class="m_h{$key+1} bn"> 
    <h3>{$v.name}</h3> 
    <foreach name="v.child" item="va">
    <li>{$va.name}</li>  
  </foreach> 
  </ul>
</foreach>
  
  <ul class="m_h8">
&nbsp; 
  </ul> 
</block>
<block name="banner"> 
<div id="banner2">
<div id="lanrenzhijia">
  <ul id="slides"> 
    <li style="background:url('__PUBLIC__/Home/images/lanrenzhijia03.jpg') no-repeat center top"><a href="javascript:"></a></li>
        <li style="background:url('__PUBLIC__/Home/images/lanrenzhijia01.jpg') no-repeat center top"><a href="javascript:"></a></li>
       <li style="background:url('__PUBLIC__/Home/images/lanrenzhijia1.jpg') no-repeat center top"><a href="javascript:"></a></li> 
  </ul>
</div>
</div>  
</block>
<block name="body">

<div id="middle">
<div id="width_988">
<div id="p_gao"></div>
<div id="s_box1">
    <div class="s_b1_title">
        <div class="fl_l l_t1"><span><strong>名家真品</strong></span>  / TURE</div>
        <div class="fl_r r_t2">MORE>></div>
    </div>
  
  <div class="S_box1_pic">
  <foreach name="celebrityworks1" item="v">
    <div class="fl_l S_b1_p1">
      <a href="{:U('/'.MODULE_NAME.'/gs_'.$v['id'].'_'.$v['artist_id'])}">
        <img src="__ROOT__/{$v.thumb2}" width="260" height="366" />
      </a>
      <div class="zuopin">
        <span class="fl_l zp1"><a href="{:U('/'.MODULE_NAME.'/gs_'.$v['id'].'_'.$v['artist_id'])}">{$v.title|msubstr=0,10,0}</a></span>
        <span class="fl_r zp2"> <strong>￥{$v.price}</strong></span>
      </div>
    </div>
</foreach>
<div class="fl_r S_b1_p2">
<ul>
<volist name="celebrityworks6" id="v" mod="3">
<li <eq name="mod" value="2">class="last"</eq>><a href="{:U('/'.MODULE_NAME.'/gs_'.$v['id'].'_'.$v['artist_id'])}"><img src="__ROOT__/{$v.thumb}" width="210" height="151" /></a>
<div class="zuopin">
  <span class="fl_l zp1"><a href="{:U('/'.MODULE_NAME.'/gs_'.$v['id'].'_'.$v['artist_id'])}">{$v.title|msubstr=0,8,0}</a></span>
<span class="fl_r zp2"><strong>￥{$v.price}</strong></span>
</div>
</li>
</volist>


</ul>
</div>

</div>
  
  </div>
  
<div id="gao"></div>
<div id="s_box2">
    <div class="s_b2_title">
        <div class="fl_l l_t1"><span><strong>版权信息</strong></span>  / COPYRIGHT</div>
        <div class="fl_r r_t2">MORE>></div>
    </div>
  <div class="S_b2_bottom">


<ul>
<foreach name="cp6" item="v">
<li <if condition="($key+1)%3 eq 0">class="last"</if>>
<h1><a href="{:U('/'.MODULE_NAME.'/gs_'.$v['id'].'_'.$v['artist_id'])}"><img src="__ROOT__/{$v.thumb}" width="314" height="201" /></a></h1>
<div class="xushu">
<span class="fl_l zt"><h2>{$v.title|msubstr=0,15,0}</h2>
{$v.artistname}所著图书</span>
<span class="fl_r xh">￥{$v.price}</span>
</div>
</li>
</foreach>
</ul>




</div>

    </div>
      
      
    
<div id="s_box3">
    <div class="s_b3_title">
        <div class="fl_l l_t1"><span><strong>服务</strong></span>  / SERVICE</div>
        <div class="fl_r r_t2">MORE>></div>
    </div>
  <div class="S_b3_bottom">
     <div class="fl_l s_b3_left">
     
      <div class="left_nav">
    <dl>
    <dt>服务 <span>SERVICE</span></dt>
    <dd><a href="javascript:" class="nav_left1">画册制作</a>
    <div class="nav_right1">
    <ul>
    <li>
    <div class="fuwu">
    <div class="fl_l fuwu1"><img src="__PUBLIC__/Home/images/s_pic1_26.jpg" /></div>
    <div class="fl_r fuwu2">
    <h3>售后服务</h3>
    <p>集艺网始终秉承"以客户为中心，以诚信
为准则"的宗旨，为广大客户提供..</p>
    </div>
    </div>
    </li>
    <li>
    <div class="fuwu">
    <div class="fl_l fuwu1"><img src="__PUBLIC__/Home/images/s_pic1_29.jpg" /></div>
    <div class="fl_r fuwu2">
    <h3>在线咨询</h3>
    <p>集艺网为客户提供商品信息，版权，交易
等咨询服务...</p>
    </div>
    </div>
    </li>
    <li>
    <div class="fuwu">
    <div class="fl_l fuwu1"><img src="__PUBLIC__/Home/images/s_pic1_31.jpg" /></div>
    <div class="fl_r fuwu2">
    <h3>合作</h3>
    <p>合作双赢,共享市场,我们期待您的加盟，
实力打造品质...</p>
    </div>
    </div>
    </li>
    </ul>
    </div>
    </dd>
    <dd><a href="javascript:" class="nav_left">书籍出版</a></dd>
    <dd><a href="javascript:" class="nav_left">画册制作</a></dd>
    <dd><a href="javascript:" class="nav_left">艺术品鉴定</a></dd>
    <dd><a href="javascript:" class="nav_left">文创设计</a></dd>
   <dd><a href="javascript:" class="nav_left">版权登记</a></dd>
    <dd class="last"><a href="javascript:" class="nav_left">影视制作</a></dd>
    </dl>
  </div>
     
     
     </div> 
      
       <div class="fl_r s_b3_right">
       <div class="b3_r_top"><a href="#"><img src="__PUBLIC__/Home/images/pic1_451.jpg" /></a></div>
        <div class="b3_r_botto">
        <ul>
        <li><span><strong>[第一期]</strong></span><a href="#">一世华彩梦 水彩画家...</a>
        <p>2014-12-13</p>
        </li>
        
        <li><span><strong>[第一期]</strong></span><a href="#">石上生花 石刻版画家... </a>
        <p>2014-12-13</p>
        </li>
        
        <li><span><strong>[第一期]</strong></span><a href="#">往事模糊芦花岸...</a>
        <p>2014-12-13</p>
        </li>
        
        <li><span><strong>[第一期]</strong></span><a href="#">一来多情付笔墨...</a>
        <p>2014-12-13</p>
        </li>
        
        
        </ul>
        </div>
       </div> 
      
  </div>  

</div>

<div id="gao"></div>
<div id="s_box4">
    <div class="s_b4_title">
        <div class="fl_l l_t1"><span><strong>个人店铺</strong></span>  / PERSON</div>
        <div class="fl_r r_t2">MORE>></div>
    </div>
  <div class="S_b4_bottom">
  <ul>
  <foreach name="gs9" item="v">
  <li <if condition="($key+1)%3 eq 0">class="last"</if>>
  <div class="shop">
  <div class="fl_l s_pic4"><a href="{:U('/'.MODULE_NAME.'/gs_'.$v['id'].'_'.$v['artist_id'])}"><img src="__ROOT__/{$v.thumb}" width="152" height="85" /></a></div>
  <div class="fl_r s_text4">
  <h3><a href="{:U('/'.MODULE_NAME.'/aofficial_'.$v['artist_id'])}" style="color:#fff;">进入店铺</a></h3>
  <p><span><strong>{$v.artistname}</strong></span>{$v.title|msubstr=0,7,0}</p>
  <p><strong class="jiage">￥54665.00</strong></p>
  </div>
  </div></li>
</foreach>
  </ul>
  
  
  
  </div></div>


</div></div>

<div id="gao1"></div>
</block>