<extend name="Base/common" />
<block name="style"><link href="__PUBLIC__/Home/css/vipstyle.css" rel="stylesheet" type="text/css" /></block>
    <block name="head">
<link href="__PUBLIC__/Home/css/lanrenzhijia.css" type="text/css" rel="stylesheet" />
<script type="text/javascript">
    function nTabs(thisObj,Num){
    if(thisObj.className == "active")return;
    var tabObj = thisObj.parentNode.id;
    var tabList = document.getElementById(tabObj).getElementsByTagName("li");
    for(i=0; i <tabList.length; i++)
    {
    if (i == Num)
    {
    thisObj.className = "active";
    document.getElementById(tabObj+"_Content"+i).style.display = "block";
    }else{
    tabList[i].className = "normal";
    document.getElementById(tabObj+"_Content"+i).style.display = "none";
    }
    }
    }
    </script>
 
<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script>
$(function(){
  //菜单隐藏展开
  var tabs_i=0
  $('.vtitle').click(function(){
    var _self = $(this);
    var j = $('.vtitle').index(_self);
    if( tabs_i == j ) return false; tabs_i = j;
    $('.vtitle em').each(function(e){
      if(e==tabs_i){
        $('em',_self).removeClass('v01').addClass('v02');
      }else{
        $(this).removeClass('v02').addClass('v01');
      }
    });
    $('.vcon').slideUp().eq(tabs_i).slideDown();
  });
  $('#lsubmit').click(function(){
    if($('input[name=title]').val() == ''){
            alert('留言标题不能为空！');
            return false;
        }
    if($('input[name=phone]').val() == ''){
            alert('联系电话不能为空！');
            return false;
        }
    if($('textarea[name=content]').val() == ''){
            alert('留言内容不能为空！');
            return false;
        }
    $('form[name=lform]').submit();
  });
})
</script>
</block>
<block name="banner"></block>
<block name="body">
<div id="middle" style="background:url(__PUBLIC__/Home/images/vip_bj.jpg) repeat-x; float:left">
<div id="width_988">
  <div class="vip_h">
        <div class="vip_left">
          <ul>
              <include file="Public/userleftnav" />
            </ul>
        </div>
        <div class="vip_right">
        <div class="vip_text">
        <div class="vip_nav">
        <ul>
        <li><a href="hy_zppl.html">作品评论</a></li>
         <li><a href="#" class="messagehover">网站评论</a></li>
         <li><a href="hy_plhf.html">收到的回复</a></li>
         
        </ul>
        </div>
        <form name="lform" action="{:U(MODULE_NAME.'/User1/doLeaveMessage')}" method="post">
        <div class="vip_bottom">
        
          <p class="input">留言标题： <span><input name="title" type="text"  style="width:500px"/></span></p>
          
                 <p class="input">联系电话： <span><input name="phone" type="text" style="width:500px"/></span></p>
           
                     <p>留言内容：</p>
                     <p class="input" style=" margin-top:-30px"> <span><textarea name="content" cols="" rows=""></textarea></span></p>
                    <p class="fl_r"><img id="lsubmit" class="cursor" src="__PUBLIC__/Home/images/tj2.jpg" /></p> 

        </div>
      </form>
        <div class="l_text">
        <ul>
        <foreach name="message" item="v">
        <li>
        <span class="fl_l l_l"><h3>{$v.title}</h3></span>
        <span class="fl_r l_r"><h3>留言时间：<span>【{$v.pubtime|date="Y-m-d",###}】</span></h3></span>
        <p><img src="__PUBLIC__/Home/images/wx.jpg" /> {$v.content}</p>
        </li>
      </foreach>
      
        
        </ul>
        
        </div>
        <div class="fl_r page">
        <div class="page_list">{$page}</span>
        </div>
        
        </div>
        </div>
    </div>
    
    
</div></div>


<div id="gao1"></div>
</block>
<block name="footer">
    <include file="Public/userfooter" />
</block>