<extend name="Base/common" />
<block name="style"><link href="__PUBLIC__/Home/css/vipstyle.css" rel="stylesheet" type="text/css" /></block>
<block name="head">
<link href="__PUBLIC__/Home/css/lanrenzhijia.css" type="text/css" rel="stylesheet" />
<script type="text/javascript">
    function nTabs(thisObj,Num){
    if(thisObj.className == "active")return;
    var tabObj = thisObj.parentNode.id;
    var tabList = document.getElementById(tabObj).getElementsByTagName("li");
    for(i=0; i <tabList.length; i++)
    {
    if (i == Num)
    {
    thisObj.className = "active";
    document.getElementById(tabObj+"_Content"+i).style.display = "block";
    }else{
    tabList[i].className = "normal";
    document.getElementById(tabObj+"_Content"+i).style.display = "none";
    }
    }
    }
    </script>
 
<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script src="__PUBLIC__/Static/PCASClass.js"></script>
<script>

$(function(){
     $('#msubmit').click(function(){
                    $('label[name=email]').html('');
                    email = $('input[name=email]').val();
                    if(email == ''){
                        $('label[name=email]').html('<span style="color:red; margin-left:5px;">*邮箱不能为空！</span>');
                        return false;
                    }
                    if (!email.match(/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/)) {
                        $('label[name=email]').html('<span style="color:red; margin-left:5px;">*邮箱格式不正确！</span>');
                        $("#email").focus();
                        return false;
                    }
                    alert('修改成功');
                    $('form[name=modifyform]').submit();
                });
      // $("#province").prepend("<option value='0'>请选择</option>");
 });
</script>
</block>
<block name="banner"></block>
<block name="body">
 
<div id="middle" style="background:url(__PUBLIC__/Home/images/vip_bj.jpg) repeat-x; float:left">
<div id="width_988">
    <div class="vip_h">
        <div class="vip_left">
            <ul>
                <include file="Public/userleftnav" />
            </ul>
        </div>
         <div class="vip_right">
        <div class="vip_text">
        <div class="vip_r_t">
        <span class="fl_l qq">
        <h2>441088981@qq.com <span>欢迎进入集艺网</span></h2>
        <h5>安全操作</h5>
        </span>
         
        </div>
        <div class="liebiao">
        <ul>
        <li>
        <div class="fl_l lb_l">
        <p><img src="__PUBLIC__/Home/images/sf1_03.gif" /></p>
        <p>强度高</p>
        </div>
         <div class="fl_l lb_m">
         <h1>登录密码 <span>|</span> <span>安全性高的密码可以使账户更安全，建议您定期更换密码</span></h1>
         </div>
          <div class="fl_r lb_r">
          <span><a href="#">修改</a></span>
          </div>
        
        </li>
        
        <li>
        <div class="fl_l lb_l">
        <p><img src="__PUBLIC__/Home/images/sf1_06.gif" /></p>
        <p>未绑定</p>
        </div>
         <div class="fl_l lb_m">
         <h1>绑定邮箱 <span>|</span> <span>验证后用邮箱找回密码‘接受订单提醒等，保障您的账户更加安全。</span></h1>
         </div>
          <div class="fl_r lb_r">
         <a href="#"><img src="__PUBLIC__/Home/images/sf1_08.gif" /></a>
          </div>
        
        </li>
        
        <li>
        <div class="fl_l lb_l">
        <p><img src="__PUBLIC__/Home/images/sf1_06.gif" /></p>
        <p>未绑定</p>
        </div>
         <div class="fl_l lb_m">
         <h1>绑定手机 <span>|</span> <span>验证后用手机找回密码‘接受订单提醒等，保障您的账户更加安全。</span></h1>
         </div>
          <div class="fl_r lb_r">
         <a href="#"><img src="__PUBLIC__/Home/images/sf1_08.gif" /></a>
          </div>
        
        </li>
        </ul>
        
        
        </div>
        
        
        
        </div>
        
        
        </div>
    </div>
    
    
</div></div>


<div id="gao1"></div>
</block>
<block name="footer">
    <include file="Public/userfooter" />
</block>