<extend name="Base/common" />
<block name="style"><link href="__PUBLIC__/Home/css/vipstyle.css" rel="stylesheet" type="text/css" /></block>
<block name="head">
 
<script type="text/javascript">
    function nTabs(thisObj,Num){
    if(thisObj.className == "active")return;
    var tabObj = thisObj.parentNode.id;
    var tabList = document.getElementById(tabObj).getElementsByTagName("li");
    for(i=0; i <tabList.length; i++)
    {
    if (i == Num)
    {
    thisObj.className = "active";
    document.getElementById(tabObj+"_Content"+i).style.display = "block";
    }else{
    tabList[i].className = "normal";
    document.getElementById(tabObj+"_Content"+i).style.display = "none";
    }
    }
    }
    </script>
    <link href="__PUBLIC__/Home/css/lanrenzhijia3.css" type="text/css" rel="stylesheet" />
<script src="__PUBLIC__/Home/js/jquery.min.js"></script>

</block>
<block name="banner"></block>
<block name="body">
<div id="middle" style="background:url(__PUBLIC__/Home/images/vip_bj.jpg) repeat-x; float:left">
<div id="width_988">
    <div class="vip_h">
        <div class="vip_left">
            <ul>
                <include file="Public/userleftnav" />
            </ul>
        </div>
        <div class="vip_right">
        <div class="vip_text">
        <div class="vip_r_t">
        <span class="fl_l qq">
        <h2><?php echo session('normalusername'); ?>&nbsp;&nbsp;&nbsp;<span>欢迎进入集艺网</span></h2>
        <h5>常用操作</h5>
        </span>
          <span class="fl_r jf">
          <h4>可用积分</h4>
          <h1>353</h1>
          </span>
        </div>
        
        <div class="vip_r_b">
        <ul>
        <li><p><a href="grzx1.html"><img src="__PUBLIC__/Home/images/hy1_07.jpg" width="84" height="84" /></a></p><p>个人信息</p></li>
        <li><p><a href="ddxq.html"><img src="__PUBLIC__/Home/images/hy1_09.jpg" width="84" height="84" /></a></p><p>订单管理</p></li>
        <li><p><a href="hy_lygl1.html"><img src="__PUBLIC__/Home/images/hy1_11.jpg" width="84" height="84" /></a></p><p>评价管理</p></li>
        <li><p><a href="hy_shdz.html"><img src="__PUBLIC__/Home/images/hy1_13.jpg" width="84" height="84" /></a></p><p>收货地址</p></li>
        </ul>
        </div>
        
        <div class="vip_bott">
        <div class="vip_tit"><h5>猜你喜欢</h5></div>
        <div class="vip_p">
        <ul>
        <li><p><a href="p_pages.html"><img src="__PUBLIC__/Home/images/hy1_20.jpg" width="161" height="120" /></a></p>
        <p><span class="fl_l z_p">米开朗基罗</span>
        <span class="fl_r j_g">￥200.00</span>
        </p>
        </li>
        <li><p><a href="p_pages.html"><img src="__PUBLIC__/Home/images/hy1_22.jpg" width="161" height="120" /></a></p>
        <p><span class="fl_l z_p">米开朗基罗</span>
        <span class="fl_r j_g">￥200.00</span>
        </p>
        </li>
        <li><p><a href="p_pages.html"><img src="__PUBLIC__/Home/images/hy1_24.jpg" width="161" height="120" /></a></p>
        <p><span class="fl_l z_p">米开朗基罗</span>
        <span class="fl_r j_g">￥200.00</span>
        </p>
        </li>
        <li class="last"><p><a href="p_pages.html"><img src="__PUBLIC__/Home/images/hy1_26.jpg" width="161" height="120" /></a></p>
        <p><span class="fl_l z_p">米开朗基罗</span>
        <span class="fl_r j_g">￥200.00</span>
        </p>
        </li>
        <li><p><a href="p_pages.html"><img src="__PUBLIC__/Home/images/hy1_32.jpg" width="161" height="120" /></a></p>
        <p><span class="fl_l z_p">米开朗基罗</span>
        <span class="fl_r j_g">￥200.00</span>
        </p>
        </li>
        <li><p><a href="p_pages.html"><img src="__PUBLIC__/Home/images/hy1_33.jpg" width="161" height="120" /></a></p>
        <p><span class="fl_l z_p">米开朗基罗</span>
        <span class="fl_r j_g">￥200.00</span>
        </p>
        </li>
        <li><p><a href="p_pages.html"><img src="__PUBLIC__/Home/images/hy1_34.jpg" width="161" height="120" /></a></p>
        <p><span class="fl_l z_p">米开朗基罗</span>
        <span class="fl_r j_g">￥200.00</span>
        </p>
        </li>
        <li class="last"><p><a href="p_pages.html"><img src="__PUBLIC__/Home/images/hy1_35.jpg" width="161" height="120" /></a></p>
        <p><span class="fl_l z_p">米开朗基罗</span>
        <span class="fl_r j_g">￥200.00</span>
        </p>
        </li>
        </ul>
        
        </div>
        
        
        </div>
        </div>
        
        
        </div>
    </div>
    
    
</div></div>


<div id="gao1"></div>
</block>
<block name="footer">
    <include file="Public/userfooter" />
</block>